<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="userServiceImpl" class="cn.aspect.UserServiceImpl"></bean>
	<bean id="myAspect" class="cn.aspect.MyAspect"></bean>

	<aop:config>
		<aop:aspect ref="myAspect">
			<!-- 切点 ，目标方法 -->
			<aop:pointcut expression="execution(* cn.aspect.UserServiceImpl.addUser(..))"
				id="pointCut" />
			<!-- 通知 ，加强的方法 -->
			<aop:around method="roundFunc" pointcut-ref="pointCut" />
		</aop:aspect>
	</aop:config>

</beans>